.z-1000 {
  z-index: 1000 !important;
}

.bg-1 {
  background-color: #e78f0cff !important;
}

.bg-2 {
  background-color: #795548 !important;
}

.border-c1 {
  border-color: #ffb114 !important;
}
.border-c1:focus {
  border-color: #ffb114 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.25) !important;
}
.fs-7 {
  font-size: smaller;
}
.fs-8 {
  font-size: xx-small;
}

.leaflet-popup-tip-container {
  display: none !important;
}
.dropdown-toggle::after {
  display: none !important;
}

[data-rr-ui-dropdown-item]:hover {
  background-color: #f0d9bb !important;
}

.modal-content {
  background-color: antiquewhite !important;
}

.delete-button:hover {
  background-color: #d7af79 !important;
}
