.z-1000 {
  z-index: 1000 !important;
}

.bg-1 {
  background-color: #e78f0cff !important;
}

.bg-2 {
  background-color: #795548 !important;
}

.border-c1 {
  border-color: #ffb114 !important;
}
.border-c1:focus {
  border-color: #ffb114 !important;
  box-shadow: 0 0 0 0.2rem rgba(255, 136, 0, 0.25) !important;
}
.border-c2 {
  border-color: #795548 !important;
}
.border-c2:focus {
  border-color: #795548 !important;
  box-shadow: 0 0 0 0.2rem rgba(120, 66, 4, 0.432) !important;
}
.fs-7 {
  font-size: smaller;
}
.fs-8 {
  font-size: xx-small;
}

.border-6 {
  border-width: 10px !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}
.fascinate-regular {
  font-family: "Fascinate", system-ui;
  font-weight: 400;
  font-style: normal;
}
